<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Versand Tracks0r</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  <script src="https://cdn.jsdelivr.net/gh/Igor-Vladyka/leaflet.motion/dist/leaflet.motion.min.js"></script>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div v-cloak id="app" :class="dark_mode ? 'dark-mode' : 'light-mode'">
    <nav>
      <button @click="addShipment" class="material-icons add">library_add</button>
      <button class="material-icons">search</button>
      <transition name="fade" appear>
          <div class="center" style="font-size: 30px">🚚</div>
      </transition>
      <div class="push">
        <button class="material-icons">delete</button>
      </div>
      <div>
        <button @click="toggleTheme" class="material-icons">lightbulb</button>
      </div>
    </nav>
    <br>
    <br>
    <br>

    <div v-show="showAdd" id="addPopup" ref="addPopup">
      <div class="title">Add</div>
      <form @submit="checkForm" action="/api/shipments" method="post" enctype="multipart/form-data">
        <br>
        <input required v-model="addForm.trackingId" autocomplete="off" type="text" name="trackingId"
          placeholder="TRACKING ID...">
        <br>
        <br>
        <br>
        <input v-model="addForm.comment" autocomplete="off" type="text" name="comment" placeholder="Comment...">
        <br>
        <br>
        <br>
        <input required v-model="addForm.carrier" type="radio" name="carrier" value="dhl" class="dhl">
        <input required v-model="addForm.carrier" type="radio" name="carrier" value="hermes" class="hermes">
        <input required v-model="addForm.carrier" type="radio" name="carrier" value="dpd" class="dpd">
        <input required v-model="addForm.carrier" type="radio" name="carrier" value="ups" class="ups">
        <input required v-model="addForm.carrier" type="radio" name="carrier" value="amazon" class="amazon">
        <br>
        <br>
        <button type="submit" class="material-icons">cloud_upload</button>
      </form>
      <button @click="addShipment" class="material-icons delete">close</button>
    </div>

    <div v-show="showMap" id="map" ref="map">
      <div class="title">{{ mapTitle }}</div>
      <div id="internalMap"></div>
      <button @click="popupMap" class="material-icons delete">close</button>
    </div>

    <table>
      <tr>
        <th>Tracking</th>
      </tr>
      <tr v-for="shipment in shipments">
        <td @click="expand(shipment)">

          <div class="history-title">
            <div class="carrierLogo">
              <div class="carrierLogoSize" :class="getCarrierLogo(shipment.carrier)"></div>
            </div>
            <div style="margin-left: 15px">
              {{ shipment.comment }} ({{ shipment.trackingId }})
            </div>
          </div>


          <div class="history-entry" v-if="!shipment.hasData">
            <div class="material-icons history-icon">
              {{ getIcon(shipment.status) }}
            </div>
            <div>
              <div class="history-time">
                {{ formatDateTime(shipment.updatedAt) }}
              </div>
              <div class="history-message">
                Loading data ...
              </div>
            </div>
          </div>

          <div class="history" :class="{ 'history-line' : expanded == shipment  && shipment.history.length > 1 }">
            <!-- <transition-group name="fade"> -->
            <div class="history-entry" :key="entry.id" v-for="entry in filterHistory(shipment)">
              <!-- <div class="history-entry" v-for="entry in shipment.history"> -->
              <div class="material-icons history-icon" :class="getColor(entry.status)">
                {{ getIcon(entry.status) }}
              </div>

              <div>
                <div class="history-time">
                  {{ formatDateTime(entry.updatedAt) }} - <a @click.stop.prevent="popupMap(shipment)" href="">
                    {{ entry.location }} </a>
                </div>
                <div class="history-message">
                  {{ entry.message }}
                </div>
              </div>

            </div>
          </div>
          <div class="deleteShipment" v-show="expanded == shipment">
            <button @click.stop="deleteShipment(shipment)" class="material-icons delete">delete</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <script src="js/script.js"></script>
</body>

</html>