.light-mode {
  --bg: #ffffff;
  --popup-bg: #e0e0e0;
  --selection: #d6d6d6;
  --comment: #8e908c;
  --popup-fg: #969896;
  --fg: #4d4d4c;
  --fg-light: #282a2e;
  --bg-light: #1d1f21;
  --red: #c82829;
  --orange: #f5871f;
  --yellow: #eab700;
  --green: #718c00;
  --cyan: #3e999f;
  --blue: #4271ae;
  --pink: #8959a8;
  --brown: #a3685a;
}

.dark-mode {
  --bg: #1d1f21;
  --popup-bg: #282a2e;
  --selection: #373b41;
  --comment: #969896;
  --popup-fg: #b4b7b4;
  --fg: #c5c8c6;
  --fg-light: #e0e0e0;
  --bg-light: #ffffff;
  --red: #cc6666;
  --orange: #de935f;
  --yellow: #f0c674;
  --green: #b5bd68;
  --cyan: #8abeb7;
  --blue: #81a2be;
  --pink: #b294bb;
  --brown: #a3685a;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
  min-width: 100%;
  font-family: roboto;
  font-size: 20px;
  color: var(--fg);
  background: var(--bg);
}

tr:nth-child(even) {
  background: var(--popup-bg);
}

tr:nth-child(odd) {
  background: var(--selection);
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  user-select: none;
}

td {
  padding: 5px;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: contain;
  border-radius: 5px;
  outline: 0;
  vertical-align: middle;
}

input[type=radio]:checked {
  box-shadow: var(--blue) 0px 0px 0px 5px;
}

input[type=text] {
  font-size: 30px;
  width: inherit;
  padding: 10px;
  background-color: var(--bg);
  color: var(--fg);
  outline-color: var(--blue);
  border: solid transparent 2px;
  border-radius: 4px;
}



input[type=text]::placeholder {
  color: var(--comment);
}

.dhl {
  width: 80px;
  height: 80px;
  background-size: contain;
  outline: 0;
  vertical-align: middle;
  background-image: url("/img/dhl.jpg");
}

.dpd {
  width: 80px;
  height: 80px;
  background-size: contain;
  outline: 0;
  vertical-align: middle;
  background-image: url("/img/dpd.png");
}

.hermes {
  width: 80px;
  height: 80px;
  background-size: contain;
  outline: 0;
  vertical-align: middle;
  background-image: url("/img/hermes.png");
}

.amazon {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position-y: 5px;
  outline: 0;
  vertical-align: middle;
  background-image: url("/img/amazon.jpg");
}

.ups {
  width: 80px;
  height: 80px;
  background-size: contain;
  outline: 0;
  vertical-align: middle;
  background-image: url("/img/ups.jpg");
}

.trackingId {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: var(--fg);
  padding: 5px;
  background-color: var(--bg);
  border-radius: 5px;
  margin: 5px;
  border: transparent;
}

nav button {
  width: 50px;
  height: 50px;
}

button:focus {
  outline-color: var(--blue);
}

.delete {
  color: var(--red);
}

.add {
  color: var(--blue);
}

.ok {
  color: var(--green);
}

.warning {
  color: var(--yellow);
}

.error {
  color: var(--orange);
}

.info {
  color: var(--blue);
}

.critical {
  color: var(--red);
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--selection);
  border-bottom: 3px solid var(--fg);
}

.push {
  margin-left: auto;
}

.center {
  margin-left:auto;
}

.history-line {
  /* background: linear-gradient(var(--green), var(--orange)) no-repeat 34px/4px 100%; */
}

.history {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

.history-time {
  color: var(--comment);
  font-size: 16px;
}

.history-message {
  margin-left: 15px;
}

.history-entry {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}

.history-title {
  font-size: 24px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.history-body {
  background-color: #718c00;
}

.history-icon {
  background-color: var(--bg);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 5px;
  border: 2px solid var(--fg);
}

a {
  color: var(--blue);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: 0.3s;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  /* opacity: 0.5; */

  background-color: var(--selection);

  text-align: center;
}

#addPopup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  background-color: var(--selection);
}

.title {
  font-size: 40px;
  align-self: center;
  border-bottom: var(--fg) 2px solid;
  margin-bottom: 15px;
}

.carrierLogoSize {
  border-radius: 5px;
  width: 64px;
  height: 64px;
}

.carrierLogo {
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px var(--fg);
}

#internalMap {
  height: 100%;
  width: 100%;
}

.tracking_line {
  stroke: var(--blue);
  fill: none;
  stroke-dasharray: 10, 10;
  stroke-width: 5;
}

.trackingIcon {
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  color: var(--orange);
}

form {
  align-self: center;
  flex-grow: 1;
  text-align: center;
}

form button {
  font-size: 34px !important;
  width: 150px;
  height: 50px;
  color: var(--blue);
}

.deleteShipment {
  display: flex;
  flex-flow: column;
}

[v-cloak] {
  display: none;
}
